{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block head %}
    {{ parent() }}
    <style>
        .profiler-content table.table pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
    </style>
{% endblock %}

{% block toolbar %}
    {% if collector.platformCalls|length > 0 %}
        {% set icon %}
            {{ include('@Ai/icon.svg', { y: 18 }) }}
            <span class="sf-toolbar-value">{{ collector.platformCalls|length }}</span>
            <span class="sf-toolbar-info-piece-additional-detail">
                <span class="sf-toolbar-label">calls</span>
            </span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <div class="sf-toolbar-info-piece">
                    <b class="label">Agent Calls</b>
                    <span class="sf-toolbar-status">{{ collector.agentCalls|length }}</span>
                </div>
                <div class="sf-toolbar-info-piece">
                    <b class="label">Configured Platforms</b>
                    <span class="sf-toolbar-status">1</span>
                </div>
                <div class="sf-toolbar-info-piece">
                    <b class="label">Platform Calls</b>
                    <span class="sf-toolbar-status">{{ collector.platformCalls|length }}</span>
                </div>
                <div class="sf-toolbar-info-piece">
                    <b class="label">Registered Tools</b>
                    <span class="sf-toolbar-status">{{ collector.tools|length }}</span>
                </div>
                <div class="sf-toolbar-info-piece">
                    <b class="label">Tool Calls</b>
                    <span class="sf-toolbar-status">{{ collector.toolCalls|length }}</span>
                </div>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { 'link': true }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    <span class="label">
        <span class="icon">{{ include('@Ai/icon.svg', { y: 16 }) }}</span>
        <strong>Symfony AI</strong>
        <span class="count">{{ collector.platformCalls|length }}</span>
    </span>
{% endblock %}

{% block panel %}
    <h2>Symfony AI</h2>

    <h3>Agent Calls</h3>
    {% if collector.agentCalls|length %}
        <table class="table">
            <thead>
            <tr>
                <th>Method</th>
                <th>Duration</th>
                <th>Input</th>
                <th>Result</th>
                <th>Error</th>
            </tr>
            </thead>
            <tbody>
            {% for call in collector.agentCalls %}
                <tr>
                    <td><code>{{ call.method }}</code></td>
                    <td class="text-nowrap">{{ (call.duration * 1000)|round(2) }} ms</td>
                    <td>{{ profiler_dump(call.input) }}</td>
                    <td>{{ profiler_dump(call.result) }}</td>
                    <td>{{ profiler_dump(call.error) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="empty">
            <p>No agent calls were made.</p>
        </div>
    {% endif %}

    <section class="metrics">
        <div class="metric-group">
            <div class="metric">
                <span class="value">{{ collector.agentCalls|length }}</span>
                <span class="label">Agent Calls</span>
            </div>
            <div class="metric">
                <span class="value">1</span>
                <span class="label">Platforms</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.platformCalls|length }}</span>
                <span class="label">Platform Calls</span>
            </div>
        </div>
        <div class="metric-divider"></div>
        <div class="metric-group">
            <div class="metric">
                <span class="value">{{ collector.tools|length }}</span>
                <span class="label">Tools</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.toolCalls|length }}</span>
                <span class="label">Tool Calls</span>
            </div>
        </div>
    </section>

    <h3>Platform Calls</h3>
    {% if collector.platformCalls|length %}
        <div class="sf-tabs">
            <div class="tab {{ collector.platformCalls|length == 0 ? 'disabled' }}">
                <h3 class="tab-title">Platform Calls <span class="badge">{{ collector.platformCalls|length }}</span></h3>
                <div class="tab-content">
                    {% for call in collector.platformCalls %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="2">Call {{ loop.index }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th>Model</th>
                                <td>{{ profiler_dump(call.model) }}</td>
                            </tr>
                            <tr>
                                <th>Input</th>
                                <td>{{ profiler_dump(call.input) }}</td>
                            </tr>
                            <tr>
                                <th>Options</th>
                                <td>{{ profiler_dump(call.options) }}</td>
                            </tr>
                            <tr>
                                <th>Result</th>
                                <td>{{ profiler_dump(call.result) }}</td>
                            </tr>
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="empty">
            <p>No platform calls were made.</p>
        </div>
    {% endif %}

    <h3>Tools</h3>
    {% if collector.tools|length %}
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Class & Method</th>
                    <th>Parameters</th>
                </tr>
            </thead>
            <tbody>
            {% for tool in collector.tools %}
                <tr>
                    <td>{{ tool.name }}</td>
                    <td>{{ tool.description }}</td>
                    <td>{{ profiler_dump(tool.reference) }}</td>
                    <td>{{ profiler_dump(tool.parameters) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="empty">
            <p>No tools were registered.</p>
        </div>
    {% endif %}

    <h3>Tool Calls</h3>
    {% if collector.toolCalls|length %}
        {% for call in collector.toolCalls %}
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">{{ call.call.name }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ call.call.id }}</td>
                    </tr>
                    <tr>
                        <th>Arguments</th>
                        <td><pre>{{ profiler_dump(call.call.arguments) }}</pre></td>
                    </tr>
                    <tr>
                        <th>Call</th>
                        <td>{{ profiler_dump(call.call) }}</td>
                    </tr>
                    <tr>
                        <th>Result</th>
                        <td>{{ profiler_dump(call.result) }}</td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
    {% else %}
        <div class="empty">
            <p>No tool calls were made.</p>
        </div>
    {% endif %}
{% endblock %}
