{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set totalCalls = collector.platformCalls|length + collector.toolCalls|length + collector.messages|length + collector.chats|length + collector.agents|length + collector.stores|length %}
    {% if totalCalls > 0 %}
        {% set icon %}
            {{ include('@Ai/icon.svg', { y: 18 }) }}
            <span class="sf-toolbar-value">{{ totalCalls }}</span>
            <span class="sf-toolbar-info-piece-additional-detail">
                <span class="sf-toolbar-label">calls</span>
            </span>
        {% endset %}

        {% set text %}
            <div class="sf-toolbar-info-piece">
                <div class="sf-toolbar-info-piece">
                    <b class="label">Configured Platforms</b>
                    <span class="sf-toolbar-status">{{ collector.platformCount }}</span>
                </div>
                <div class="sf-toolbar-info-piece">
                    <b class="label">Platform Calls</b>
                    <span class="sf-toolbar-status">{{ collector.platformCalls|length }}</span>
                </div>
                <div class="sf-toolbar-info-piece">
                    <b class="label">Registered Tools</b>
                    <span class="sf-toolbar-status">{{ collector.tools|length }}</span>
                </div>
                <div class="sf-toolbar-info-piece">
                    <b class="label">Tool Calls</b>
                    <span class="sf-toolbar-status">{{ collector.toolCalls|length }}</span>
                </div>
                <div class="sf-toolbar-info-piece">
                    <b class="label">Configured Message Stores</b>
                    <span class="sf-toolbar-status">{{ collector.messageStoreCount }}</span>
                </div>
                <div class="sf-toolbar-info-piece">
                    <b class="label">Stored Messages</b>
                    <span class="sf-toolbar-status">{{ collector.messages|length }}</span>
                </div>
                <div class="sf-toolbar-info-piece">
                    <b class="label">Configured Chats</b>
                    <span class="sf-toolbar-status">{{ collector.chatCount }}</span>
                </div>
                <div class="sf-toolbar-info-piece">
                    <b class="label">Chat Calls</b>
                    <span class="sf-toolbar-status">{{ collector.chats|length }}</span>
                </div>
                <div class="sf-toolbar-info-piece">
                    <b class="label">Configured Agents</b>
                    <span class="sf-toolbar-status">{{ collector.agentCount }}</span>
                </div>
                <div class="sf-toolbar-info-piece">
                    <b class="label">Agent Calls</b>
                    <span class="sf-toolbar-status">{{ collector.agents|length }}</span>
                </div>
                <div class="sf-toolbar-info-piece">
                    <b class="label">Configured Stores</b>
                    <span class="sf-toolbar-status">{{ collector.storeCount }}</span>
                </div>
                <div class="sf-toolbar-info-piece">
                    <b class="label">Store Calls</b>
                    <span class="sf-toolbar-status">{{ collector.stores|length }}</span>
                </div>
            </div>
        {% endset %}

        {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
    {% endif %}
{% endblock %}

{% block menu %}
    {% set totalCalls = collector.platformCalls|length + collector.toolCalls|length + collector.messages|length + collector.chats|length + collector.agents|length + collector.stores|length %}
    <span class="label">
        <span class="icon">{{ include('@Ai/icon.svg', { y: 16 }) }}</span>
        <strong>Symfony AI</strong>
        <span class="count">{{ totalCalls }}</span>
    </span>
{% endblock %}

{% macro tool_calls(toolCalls) %}
    Tool call{{ toolCalls|length > 1 ? 's' }}:
    <ol>
        {% for toolCall in toolCalls %}
            <li>
                <strong>{{ toolCall.name }}({{ toolCall.arguments|map((value, key) => "#{key}: #{value|json_encode}")|join(', ') }})</strong>
                <i>(ID: {{ toolCall.id }})</i>
            </li>
        {% endfor %}
    </ol>
{% endmacro %}

{% block panel %}
    <h2>Symfony AI</h2>
    <section class="metrics">
        <div class="metric-group">
            <div class="metric">
                <span class="value">{{ collector.platformCount }}</span>
                <span class="label">Platforms</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.platformCalls|length }}</span>
                <span class="label">Platform Calls</span>
            </div>
        </div>
        <div class="metric-divider"></div>
        <div class="metric-group">
            <div class="metric">
                <span class="value">{{ collector.tools|length }}</span>
                <span class="label">Tools</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.toolCalls|length }}</span>
                <span class="label">Tool Calls</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.agentCount }}</span>
                <span class="label">Configured Agents</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.chatCount }}</span>
                <span class="label">Configured Chats</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.messageStoreCount }}</span>
                <span class="label">Configured Message Stores</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.storeCount }}</span>
                <span class="label">Configured Stores</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.messages|length }}</span>
                <span class="label">Stored Message Bags</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.chats|length }}</span>
                <span class="label">Chat Calls</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.agents|length }}</span>
                <span class="label">Agent Calls</span>
            </div>
            <div class="metric">
                <span class="value">{{ collector.stores|length }}</span>
                <span class="label">Store Calls</span>
            </div>
        </div>
    </section>

    <h3>Platform Calls</h3>
    {% if collector.platformCalls|length %}
        <div class="sf-tabs">
            <div class="tab {{ collector.platformCalls|length == 0 ? 'disabled' }}">
                <h3 class="tab-title">Platform Calls <span class="badge">{{ collector.platformCalls|length }}</span></h3>
                <div class="tab-content">
                    {% for call in collector.platformCalls %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th colspan="2">Call {{ loop.index }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Model</th>
                                    <td><strong>{{ call.model }}</strong></td>
                                </tr>
                                <tr>
                                    <th>Input</th>
                                    <td>
                                        {% if call.input.messages is defined %}
                                            <ol>
                                              {% for message in call.input.messages %}
                                                <li>
                                                  <strong>{{ message.role.value|title }}:</strong>
                                                  {% if 'assistant' == message.role.value and message.hasToolCalls %}
                                                        {{ _self.tool_calls(message.toolCalls) }}
                                                  {% elseif 'tool' == message.role.value %}
                                                          <i>Result of tool call with ID {{ message.toolCall.id }}</i><br┌ŅØŲŁy